
<form #newForm ="ngForm" novalidate  class="border border-5  border-dark  mx-4 w-25 p-3" >
     <h4>Add User</h4>
     <label for="" class="form-label">Name: </label>
     <input type="text" #name="ngModel" [class.is-invalid]="name.touched && name.invalid" class="form-control" placeholder="Enter Name" name="name" required=""  ngModel>
     <label for="" class="form-label">Adress: </label>
     <input type="text"  #adress="ngModel" [class.is-invalid]="adress.touched && adress.invalid"  class="form-control" placeholder="Adress" name="adress"  required ngModel >
     <label for="" class="form-label">Age: </label>
     <input type="text"   #age="ngModel" [class.is-invalid]="age.touched && age.invalid" class="form-control" placeholder="Age" name="age" required  ngModel >
     <label for="" class="form-label">Profession: </label>
     <input type="text"  #profession="ngModel" [class.is-invalid]="profession.touched && profession.invalid" class="form-control" placeholder="Profession" name="profession" required   ngModel>
     <label for="" class="form-label">Sport Interest Rate</label>
     <select class="form-select"  #select="ngModel" [class.is-invalid]="select.touched && select.invalid" aria-label="Default select example" name="sports"  required  ngModel>
        <option selected>Select</option>
        <option value="1" >One</option>
        <option value="2" l>Two</option>
        <option value="3"  >Three</option>
      </select>
      <button type="button" class="btn btn-secondary mt-5 mx-2  ">Close</button>
      <button type="button"  [class.disabled] ="newForm.form.invalid" class="btn btn-primary mt-5 "  (click)="save(newForm)"  >Submit</button>
</form>
