

<div class="container mt-5">
     <div class="row">    
    <div class="col-lg-6">
              <h3>Bar Chart</h3>
              <canvas id="piechart"></canvas>
        </div>
        <div class="col-lg-6">
            <h3>Pie Chart</h3>
            <canvas id="barchart"></canvas>
      </div>
    </div>
    <div class="row">
          <div class="col-6">
          <h3>Doughnut  Chart</h3>
          <canvas id="doughnut"></canvas>
          </div>
          <div class="col-6">
            <h3>Radar Chart </h3>
            <canvas id="Radar"></canvas>
            </div>
    </div>
</div>
