<div class="container mt-3">
     <div class="row">
        <div class="col-md-6">
             <img src="assets/logo.png " class=" rounded-5" style="width: 75px;"  alt="Image Not Found">
        </div>
        <div class="col-md-6 ">
             
                 <a routerLink="EmployeeList" class="px-5 text-decoration-none">Employee List</a>
                <a routerLink="MedicalDetails" class="text-decoration-none">Employees Medical Details</a>
            
        </div>
     </div>
</div>

 <router-outlet></router-outlet>
