
<div class="container mt-5">
    <table class="table bg-dark text-white" >
        <thead>
          <tr >
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
            <th scope="col">ContactNumber</th>
            <th scope="col">DOB</th>
            <th scope="col">Actions</th>
          </tr>
          <tr *ngFor="let p of posts">
              <th>{{p.id}}</th>
              <td> <img src="{{p.imageUrl}}" alt="Image not found" width="40px"></td>
              <td>{{p.firstName}}</td>
              <td>{{p.lastName}}</td>
              <td>{{p.email}}</td>
              <td>{{p.age}}</td>
              <td>{{p.contactNumber}}</td>
          
              <td>{{p.dob}}</td>
              <td> <a  href=""> <img src="/assets/edit.png" alt="" width="30px" (click)=" onBtnClick()" > </a></td>
        
              <!-- <router-outlet></router-outlet> -->
           <!-- <td> <button routerLink="addnewuser">Delete </button></td> -->
              <td> <a href=""><img src="/assets/delete.png" alt="" width="30px"> </a></td>
          </tr>
        </thead>
      
      </table>
      <div class="d-flex justify-content-end container ">
       <button class="btn btn-primary " (click)="onBtnClick()" >Add New User </button>  
</div>
</div>